/* Created by: ZoiaB
* Created on: Apr 2023
* This CSS file defines the style for index.html
* ICS2O-Unit3-04-HTML-FahrenheitCelsius
*/

body {
  width: 80%;
  margin: 5% 10%;
  background-color: #ffc31f;
}

h1 {
  padding: 20px;
  background-color: #fd7458;
  color: #550a71;
  text-align: center;
}

p {
  background-color: #b93b22;
}

iframe {
  border: none;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  width: 115%;
}
